.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: column;
    align-content: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 3%;
}

.card {
    position: relative;
    width: calc(100% / 4 - 16px);
    border: 1px solid #222;
    box-sizing: border-box;
    height: 150px;
    padding: 24px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

.span_title{
    background-color: red;
    padding: 12px;
}